
/*----Container----*/
main {
  min-height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
  text-align: center;

}


h1 {
  color: rgb(255, 220, 24);
  text-align: center;
  font-size: 80px;
  text-shadow:1px 1px 1px  rgba(0, 0, 0,2);
  font-family: inherit;
}

.btn-color {
  text-transform: uppercase;
  background: transparent;
  background-color: brown;
  color: #f1f1f1;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition:.5s;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 3 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: var(--radius);
  font-size: 55px;
  border-radius: 15px;
 
}
.btn-color:hover {
  color: black;
  background: #f1f1f1;
  border-color: black;
}
